<div>
  <div class="toolbar" role="banner">
    <div class="grid-item1">
      <a routerLink="/app/today"><img alt="TODO App Logo"  src="./assets/todoapp_256.png"/><b style="padding-left: 10px;">TODO App</b></a>
    </div>
    <div class="todolist grid-item2">
      <a routerLink="/app/todos"><fa-icon [icon]="'list'"></fa-icon> TODOLists</a>
    </div>
    <div class="users grid-item3">
      <a routerLink="/app/users"><fa-icon [icon]="'users'"></fa-icon> Users</a>
    </div>
    <div class="logout grid-item4">
      <div ngbDropdown >
        <button class="btn btn-light" ngbDropdownToggle>Profilbild</button>
        <div ngbDropdownMenu>
          <button ngbDropdownItem> <fa-icon [icon]="'cog'"></fa-icon> <a routerLink="/app/settings" class="text-secondary"> Settings</a></button>
          <button ngbDropdownItem><fa-icon [icon]="'sign-out-alt'"></fa-icon> <a routerLink="/login" class="text-secondary"> Logout</a></button>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div class="footer bg-light" role="footer">
    <div class="copyright">
      <div><fa-icon [icon]="'copyright'"></fa-icon> 2021 Annika Fuhge</div>
    </div>
    <div class="imprint_policy">
      <div>
        <a routerLink="/app/imprint">Imprint</a>
      </div>
      <div class="policy ">
        <a routerLink="/app/policy" >Policy</a>
      </div>
    </div>
  </div>
</div>



