<div>
  <div class="toolbar" role="banner">
    <div class="grid-item1">
      <img width="40" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="/>
      <a routerLink="/app">TODOApp</a>
    </div>
    <div class="todolist grid-item2">
      <a routerLink="/app/todos"><fa-icon [icon]="'list'"></fa-icon> TODOLists</a>
    </div>
    <div class="users grid-item3">
      <a routerLink="/app/users"><fa-icon [icon]="'users'"></fa-icon> Users</a>
    </div>
    <div class="logout grid-item4">
      <div ngbDropdown >
        <button class="btn btn-light" ngbDropdownToggle>Profilbild</button>
        <div ngbDropdownMenu>
          <button ngbDropdownItem> <fa-icon [icon]="'cog'"></fa-icon> <a routerLink="/app/settings" class="text-secondary"> Settings</a></button>
          <button ngbDropdownItem><fa-icon [icon]="'sign-out-alt'"></fa-icon> <a routerLink="/login" class="text-secondary"> Logout</a></button>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div class="footer bg-light" role="footer">
    <div class="copyright">
      <div><fa-icon [icon]="'copyright'"></fa-icon> 2021 Annika Fuhge</div>
    </div>
    <div class="imprint_policy">
      <div>
        <a routerLink="/app/imprint">Imprint</a>
      </div>
      <div class="policy ">
        <a routerLink="/app/policy" >Policy</a>
      </div>
    </div>
  </div>
</div>



