img {
  margin-top: 5px;
  margin-bottom:5px;
  width: 40%;
}

.toolbar {
  top: 0;
  left: 0;
  right: 0;
  height: 92px;
  display: grid;
  grid-auto-columns: 220px 150px 150px auto auto 128px;
  background-color: #06427d;
  color: white;
  font-weight: 600;
  align-items: center;
  border-bottom: 2px solid #085caf;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  border-radius: 10px;


}

.logout img {
  width:50%;
  border-radius: 50%;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  font-size: 14px;
  align-items: center;
  color: #a2a9ae;
  display:flex;
  background-color: #06427d;

}

.logout button:active{
  background-color: #8fb2d6;
}

.logout button a:active {
  background-color: #8fb2d6;
}

.copyright {
  padding-left: 20px;
  flex-direction: row;
  width:60%;
  font-size: 12px;
}
 .imprint_policy {
   display:grid;
   grid-template-columns: 100px 100px;
 }

 .imprint_policy a:hover{
   color: white;
 }

 .policy {
   grid-column: 2;
 }

 .imprint {
   grid-column: 1;
 }

.bar { font-size: 20px; }

.footer  a {
  color: #a2a9ae;
}

.toolbar a {
  color: white;
}
a:hover {
  text-decoration: none;
}

.grid-item1{
  padding-left: 20px;
  grid-column: 1;
  border-right: 2px solid #085caf;
}

.grid-item2{
  padding-left: 10px;
  grid-column: 2;
}

.grid-item3{
  grid-column: 3;
}
.grid-item4{
  grid-column: 6;

}
