.card-header {
  background-color: #77b9b9;
  color:#234343;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-body{
  background-color: #f3f3f3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #234343;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.text-404{
  text-align: center;
  padding-bottom: 20px;
  margin:auto;
}


.back-button {
  background-color: #77b9b9;
  width:30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 font-size: 14px;
  text-align: center;
  display: flex;
  margin:auto;
}


.back-button:hover {
  text-decoration: none;
   color:white;
}
