/* You can add global styles to this file, and also import other style files */
@import url("~bootstrap/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");


* {
  font-family: 'Montserrat' ,'Arial', sans-serif;
  font-weight: 400;
}

body {
  background: linear-gradient(0deg, #89c2c2 10%, #356464 90%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #234343;
}



.view-title{
  display: inline-block;
  margin: 1rem auto;
  padding: .5rem 1rem;
  color: rgba(255,255,255,0.8);
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: .125rem;
  border-bottom: 2px solid  rgba(255,255,255,0.8);
}
