<div class="card">
  <div class="card-header modal-header">
    Edit User
  </div>
  <div class="card-body">
    <form>
      <input type="color"/>
    </form>
    <div *ngIf="hasError" class="alert alert-danger">Error: Delete User didn't work.</div>
  </div>
  <div class="card-footer">
    <div class="mt-2 a d-flex justify-content-end">
      <button class="btn mr-1" (click)="activeModal.dismiss('cancel button click')">Cancel</button>

      <button class="btn close-button" (click)="edit()" ngbAutofocus ><fa-icon [icon]="'trash-alt'"></fa-icon><span class="ml-2">Save User</span></button>
    </div>
  </div>
</div>
