<div class="container">
  <h2>User Management</h2>

  <div class=" card table-container">
    <div class="card-body">
      <div>All(#users)</div>
      <table class="table table-bordered" >
        <thead class=" table-header">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Color</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>green</td>
          <td>todo: buttons</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Blah</td>
          <td>green</td>
          <td>todo: buttons</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry the Bird</td>
          <td>xxx</td>
          <td>green</td>
          <td>todo: buttons</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
